*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}



/* HEADER */

header{
    display: flex;
    height: 15%;
    border: 3px solid green;
}

.nav-header{
    width: 100%;
    
}


/* MAIN */
main{
    height: 70%;
    width: 100%;
    border: 3px solid orangered;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,auto-fit);
    grid-template-areas: 
        "logo"
        "menu1"
        "secao1"
        "secao2"
        "secao3"
        "secao4"
    
    
    ; */
}

main section{
    border: 1px solid blue;
    /* margin: 5px 0; */
}

#img-section1{
    border: 1px solid black;
    
}


/* #section3-main a{
    text-align: center;
} */










/* FOOTER */
footer{
    border: 3px solid pink;
}

/* media queries */

@media screen and (min-width: 300px) and (max-width: 440px){
    .container-main{
        

    }
}